@model PortfolioMongoDB.DAL.Entities.Feature
@{
    ViewData["Title"] = "CreateFeature";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />
<div class="container">
    <form method="post">
        <label>Başlık</label>
        <input type="text" class="form-control" asp-for="Title" />
        <br />
        <label>Adı</label>
        <input type="text" class="form-control" asp-for="Name" />
        <br />
        <label>Soyadı</label>
        <input type="text" class="form-control" asp-for="Surname" />
        <br />
        <label>Meslek</label>
        <input type="text" class="form-control" asp-for="Job" />
        <br />
        <label>Resim URL</label>
        <input type="text" class="form-control" asp-for="ImageURL" />
        <br />
        <label>CVLink</label>
        <input type="text" class="form-control" asp-for="CVLink" />
        <br />
        <label>VideoLink</label>
        <input type="text" class="form-control" asp-for="VideoLink" />
        <br />
        <button class="btn btn-outline-info">Kaydet</button>
    </form>
</div>
