@model PortfolioMongoDB.DAL.Entities.Courses
@{
    ViewData["Title"] = "UpdateCourse";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />
<div class="container">
    <form method="post">
        <label>ID</label>
        <input type="text" class="form-control" asp-for="CourseID" readonly />
        <br />
        <label>Adı Soyadı</label>
        <input type="text" class="form-control" asp-for="NameSurname" />
        <br />
        <label>Başlık</label>
        <input type="text" class="form-control" asp-for="Title" />
        <br />
        <label>Resim URL</label>
        <input type="text" class="form-control" asp-for="ImageURL" />
        <br />
        <label>Link</label>
        <input type="text" class="form-control" asp-for="Link" />
        <br />
        <button class="btn btn-outline-info">Kaydet</button>
    </form>
</div>